<ion-view view-title="Schedule meeting" name="laterBooking">
  <ion-content>
    <div class="item card">
      <div class="item">
        <p>You are in</p>

        <h1>London</h1>
      </div>
    </div>
    <ion-list>
      <label class="item item-input">
        <span class="input-label">Subject</span>
        <input type="text" placeholder="Subject">
      </label>
      <ion-item class="item-button-right">
        {{bookingDetails.numberOfParticipants}} participant(s)
        <button class="button button-positive" ng-click="chooseAttendees()">
          <i class="icon ion-plus-round"></i>
        </button>
      </ion-item>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="bookingDetails.dateAndTime">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input type="time" ng-model="bookingDetails.dateAndTime">
      </label>
      <div class="item item-input item-select">
        <span class="input-label">Duration</span>
        <select ng-model="bookingDetails.duration">
          <option value="15">15 minutes</option>
          <option value="30">30 minutes</option>
          <option value="45">45 minutes</option>
          <option value="60">1 hour</option>
        </select>
      </div>
    </ion-list>

    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="bookingDetails.whiteboards">
        </label>
        Whiteboards
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="bookingDetails.screens">
        </label>
        Screens
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="bookingDetails.phones">
        </label>
        Phones
      </li>
    </ul>

    <button class="button button-block button-large button-positive" ng-click="findRooms()">Find Rooms</button>

  </ion-content>
</ion-view>
