<ion-view view-title="My Location">
  <ion-content>
    <ion-list>

      <!-- TODO ng-repeat based on the items in the scope -->
      <ion-item class="list card">
        <div class="item">
          You are in {{currentRoom}}
        </div>
      </ion-item>
    </ion-list>

    <div ng-class="{green_room: currentRoom == 'Green'}" style="width: 200px; height: 100px; border: 1px solid gray; margin: auto; margin-bottom: 20px;">
      
    </div>

    <div ng-class="{'blue_room': currentRoom == 'Light-Blue'}" style="width: 200px; height: 100px; border: 1px solid gray; margin: auto; margin-bottom: 20px;">
      
    </div>

    <div ng-class="{purple_room: currentRoom == 'Purple'}" style="width: 200px; height: 100px; border: 1px solid gray; margin: auto; margin-bottom: 20px;">
      
    </div>



    <div class="list">
        <div class="item" ng-repeat="(key, value) in beacons">
            <div class="row">
                <div class="col truncate">
                    {{value.uuid}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    major: {{value.major}}
                </div>
                <div class="col">
                    minor: {{value.minor}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{value.proximity}}
                    {{value.accuracy}}
                    {{value.rssi}}
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
