<ion-view view-title="My Location">
  <ion-content>
    <ion-list>

      <ion-item class="item card">
        <div class="item">
          <h1>Thank you</h1>
          <p>You now have</p>
          <h2>{{bookedRoom.name}}</h2>
          <p>for use on {{dateAndTime | date: 'dd/MM/yy'}} at {{dateAndTime | date: 'HH:mm'}}.</p>
        </div>
      </ion-item>
      <button class="ion-item button button-block button-positive button-large" ng-click="goHome()">
        Thank You
      </button>
    </ion-list>
  </ion-content>
</ion-view>
